*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

@font-face{
    font-family:alien;
    src: url(/static/fonts/tipografia.ttf);
}

body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fondo{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    object-fit: cover;
    top: 0;
} 


.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.nombres {
    z-index: 90;
    height: 1000px;
}
/*
.titulo{
    font-family:alien;
}

li {
    list-style: none;
}

.borrar {
    color: red;
    cursor: pointer;
}

li {
    list-style: none;
}

.borrar {
    color: red;
    cursor: pointer;
}

.seleccionado {
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.titulo{
    background:linear-gradient(green,white);
    font-family:alien;
 }

 .portada {
    position: relative;
 }

 .nombres{
    position: absolute;

 }
 */