*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body {
    background-image:url(/static/img/portada-banner-2.jpg);
}


@font-face{
    font-family:alien;
    src: url(/static/fonts/tipografia.ttf);
}



.titulo{
    font-family:alien;
}

li {
    list-style: none;
}

.borrar {
    color: red;
    cursor: pointer;
}

li {
    list-style: none;
}

.borrar {
    color: red;
    cursor: pointer;
}

.seleccionado {
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.titulo{
    background:linear-gradient(green,white);
    font-family:alien;
 }

 .portada {
    position: relative;
 }

 .nombres{
    position: absolute;

 }